#include <windows.h>

#define VS_VERSION_INFO 1
#define VER_PRODUCTMAJORVERSION		1
#define VER_PRODUCTMINORVERSION		0
#define VER_PRODUCTBUILD			1
#define VER_PRODUCTBUILD_QFE		0
#define BETA
#define VER_FILETYPE				VFT_DRV
#define VER_FILESUBTYPE				VFT2_DRV_SYSTEM

#define VER_PRODUCTNAME_STR				"SelfDefence"
#define VER_INTERNALNAME_STR			"SelfDefence.sys"

#define VER_COMPANYNAME_STR				"КІС ФЕКІ КрНУ"
#define VER_LEGALCOPYRIGHT_YEARS_STR	"2012-2013"
#define VER_LEGALCOPYRIGHT_STR			"Copyright © " VER_COMPANYNAME_STR " " VER_LEGALCOPYRIGHT_YEARS_STR
#define VER_FILEDESCRIPTION_STR			"SelfDefence"
#define VER_PRIVATEBUILD_STR			"Для внутрішнього використання " VER_COMPANYNAME_STR
#define VER_LANGNEUTRAL

#include "VerInfo.Ver"
